@import "tailwindcss";
@import "tw-animate-css";

/* Animación para el ícono de hamburguesa al aparecer */
.animate-icon-in {
    animation: rotateIn 0.3s ease-in-out forwards;
}

/* Animación para la "X" al aparecer */
.animate-icon-out {
    animation: rotateOut 0.3s ease-in-out forwards;
}

/* Animación para el menú móvil al abrirse */
.animate-menu-slide-in {
    animation: slideIn 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

/* Animación para el menú móvil al cerrarse */
.animate-menu-slide-out {
    animation: slideOut 0.3s ease-in-out forwards;
}

/* Keyframes para rotación y desvanecimiento del ícono al entrar */
@keyframes rotateIn {
    0% {
        opacity: 0;
        transform: rotate(-90deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

/* Keyframes para rotación y desvanecimiento del ícono al salir */
@keyframes rotateOut {
    0% {
        opacity: 0;
        transform: rotate(90deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}


/* Keyframes para deslizamiento del menú móvil al abrirse */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes para deslizamiento del menú móvil al cerrarse */
@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
